body {
  background-color: #c6c6c6;
}

h1 {
  font-size: 3rem;
}

h2 {
}

p {
}

footer {
  background-color: burlywood;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  text-align: center;
}
